.section-title_theme_dark {
	width: 60%;
	padding-top: 90px;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	text-align: center;
	line-height: 1.15;
	font-size: 60px;
	font-weight: 600;
	color: white;
}