.section-subtitle_theme_dark {
	width: 60%;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	text-align: center;
	line-height: 34px;
	font-size: 24px;
	font-weight: 400;
	color: white;
	}